<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> All orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="!spinner">
  <ion-list lines="none">
    <ion-item
      *ngFor="let order of orders"
      [routerLink]="[
    '/customer/' + order.customer?.uuid + '/orders/view/',
    order.uuid,
    ]"
    >
      <ion-label>
        {{ order.name }}
        <p>
          <ion-note>{{ order.customer?.name }}</ion-note>
        </p>
        <p>
          <ion-note [ngStyle]="getStatusColor(order.status)">
            {{ order.status }}
          </ion-note>
        </p>
      </ion-label>
      <ion-chip color="primary" outline="true">
        <ion-label color="primary"> ₹{{ order.cost }} </ion-label>
      </ion-chip>
    </ion-item>

    <ion-item *ngIf="!orders?.length">
      <ion-label> No results </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-content *ngIf="spinner">
  <ion-spinner name="lines" color="primary"></ion-spinner>
</ion-content>
