<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="order.uuid"> Edit Order </ion-title>
    <ion-title *ngIf="!order.uuid"> New Order </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="!spinner">
  <form [formGroup]="orderForm">
    <ion-list lines="none">
      <ion-item>
        <ion-label position="floating"> Name </ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> Order Date </ion-label>
        <ion-input
          id="order_date"
          value="{{ this.f.order_date.value | date:'dd-MM-YYYY' }}"
        ></ion-input>
        <ion-popover trigger="order_date" size="cover">
          <ng-template>
            <ion-datetime
              #order_date
              presentation="date"
              [min]="dateNow"
              [preferWheel]="true"
              formControlName="order_date"
              showDefaultButtons="true"
            >
            </ion-datetime>
          </ng-template>
        </ion-popover>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> Due Date </ion-label>
        <ion-input
          id="due_date"
          value="{{ this.f.order_date.value | date:'dd-MM-YYYY' }}"
        ></ion-input>
        <ion-popover trigger="due_date" size="cover">
          <ng-template>
            <ion-datetime
              #due_date
              presentation="date"
              [min]="this.f.order_date.value"
              [preferWheel]="true"
              formControlName="due_date"
              showDefaultButtons="true"
            >
            </ion-datetime>
          </ng-template>
        </ion-popover>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> Details </ion-label>
        <ion-textarea formControlName="details" autoGrow="true"> </ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> Cost </ion-label>
        <ion-input formControlName="cost" type="number"></ion-input>
      </ion-item>
    </ion-list>
  </form>

  <ion-button
    [disabled]="orderForm.invalid"
    (click)="createOrder()"
    expand="block"
    *ngIf="!order.uuid"
  >
    Add Order
  </ion-button>

  <ion-button
    [disabled]="orderForm.invalid"
    (click)="updateOrder()"
    expand="block"
    *ngIf="order.uuid"
  >
    Update Order
  </ion-button>
</ion-content>

<ion-content *ngIf="spinner">
  <ion-spinner name="lines" color="primary"></ion-spinner>
</ion-content>
