<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="customer.uuid">Edit Customer</ion-title>
    <ion-title *ngIf="!customer.uuid">Add Customer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="!spinner">
  <form [formGroup]="customerForm">
    <ion-list lines="none">
      <ion-item>
        <ion-label position="floating"> Name </ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> Phone </ion-label>
        <ion-input formControlName="phone"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> Email </ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> Address </ion-label>
        <ion-textarea formControlName="address" autoGrow="true"> </ion-textarea>
      </ion-item>
    </ion-list>
  </form>

  <ion-button
    [disabled]="customerForm.invalid"
    (click)="addCustomer()"
    expand="block"
    *ngIf="!customer.uuid"
  >
    Add Customer
  </ion-button>

  <ion-button
    [disabled]="customerForm.invalid"
    (click)="updateCustomer()"
    expand="block"
    *ngIf="customer.uuid"
  >
    Update Customer
  </ion-button>
</ion-content>

<ion-content *ngIf="spinner">
  <ion-spinner name="lines" color="primary"></ion-spinner>
</ion-content>
