<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list lines="none">
    <ion-item>
      <ion-segment
        (ionChange)="themeChanged($event)"
        mode="ios"
        [value]="theme"
      >
        <ion-segment-button value="light">
          <ion-label>Light</ion-label>
        </ion-segment-button>
        <ion-segment-button value="dark">
          <ion-label>Dark</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-item>

    <ion-item>
      <ion-label id="popover"> Change Brand Name </ion-label>

      <ion-popover trigger="popover" triggerAction="click">
        <ng-template>
          <ion-content>
            <ion-card>
              <ion-card-content>
                <ion-label position="stacked"> Brand </ion-label>
                <ion-input type="text" [(ngModel)]="brand"></ion-input>
                <ion-button (click)="updateBrand()" expand="block" fill="solid">
                  Update
                </ion-button>
              </ion-card-content>
            </ion-card>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-item>

    <ion-item (click)="signout()">
      <ion-label> Logout </ion-label>
      <ion-icon name="log-out-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
