<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Update Measurements </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="!spinner">
  <form [formGroup]="measurementForm">
    <ion-list lines="none">
      <ion-item-group>
        <ion-item-divider>
          <ion-label> Top </ion-label>
        </ion-item-divider>

        <ion-item lines="none">
          <ion-label position="floating"> Total Length </ion-label>
          <ion-input
            formControlName="top_total_length"
            type="number"
          ></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="floating"> Shoulder </ion-label>
          <ion-input formControlName="shoulder" type="number"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="floating"> Chest Circumference </ion-label>
          <ion-input formControlName="chest" type="number"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="floating"> Waist Circumference </ion-label>
          <ion-input formControlName="waist" type="number"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="floating"> Hip Circumference </ion-label>
          <ion-input formControlName="hip" type="number"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="floating"> Hem </ion-label>
          <ion-input formControlName="hem" type="number"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="floating"> Sleeve Length </ion-label>
          <ion-input formControlName="sleeve_length" type="number"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="floating"> Sleeve Circumference </ion-label>
          <ion-input formControlName="sleeve_circ" type="number"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="floating"> Neck Front </ion-label>
          <ion-input formControlName="neck_front" type="number"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="floating"> Neck back </ion-label>
          <ion-input formControlName="neck_back" type="number"></ion-input>
        </ion-item>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider>
          <ion-label> Bottom </ion-label>
        </ion-item-divider>

        <ion-item lines="none">
          <ion-label position="floating"> Total Length </ion-label>
          <ion-input
            formControlName="bottom_total_length"
            type="number"
          ></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="floating"> Crotch </ion-label>
          <ion-input formControlName="crotch" type="number"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="floating"> Thigh Circumference </ion-label>
          <ion-input formControlName="thigh" type="number"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="floating"> Knee Circumference </ion-label>
          <ion-input formControlName="knee" type="number"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="floating"> Ankle Circumference </ion-label>
          <ion-input formControlName="ankle" type="number"></ion-input>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </form>

  <ion-button
    [disabled]="measurementForm.invalid"
    (click)="updateOrder()"
    expand="block"
  >
    Update Measurements
  </ion-button>
</ion-content>

<ion-content *ngIf="spinner">
  <ion-spinner name="lines" color="primary"></ion-spinner>
</ion-content>
