<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title> {{ order.name }} </ion-title>

    <ion-buttons slot="end" *ngIf="showUpdateButtons">
      <ion-button [routerLink]="['/customer',customerUuid,'orders',order.uuid]">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="confirmDeleteOrder()">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="!spinner">
  <ion-list lines="none">
    <ion-item>
      <ion-label class="bold-label"> Order Date </ion-label>
      <ion-label slot="end">
        {{ order.order_date | date:'dd-MM-YYYY' }}
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="bold-label"> Due Date </ion-label>
      <ion-label slot="end">
        {{ order.due_date | date:'dd-MM-YYYY' }}
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="bold-label"> Cost </ion-label>
      <ion-label slot="end"> ₹{{ order.cost }} </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="bold-label"> Status </ion-label>
      <ion-chip [color]="statusColor" outline="true" slot="end">
        <ion-text id="popover"> {{ order.status }} </ion-text>
      </ion-chip>

      <ion-popover
        trigger="popover"
        triggerAction="click"
        dismiss-on-select="true"
      >
        <ng-template>
          <ion-content>
            <ion-list lines="none">
              <ion-item
                (click)="updateStatus(verdict.WAITING)"
                *ngIf="order.status !== verdict.WAITING"
              >
                <ion-label color="default"> {{ verdict.WAITING }} </ion-label>
              </ion-item>

              <ion-item
                (click)="updateStatus(verdict.IN_PROGRESS)"
                *ngIf="order.status !== verdict.IN_PROGRESS"
              >
                <ion-label color="success">
                  {{ verdict.IN_PROGRESS }}
                </ion-label>
              </ion-item>

              <ion-item
                (click)="updateStatus(verdict.COMPLETED)"
                *ngIf="order.status !== verdict.COMPLETED"
              >
                <ion-label color="primary"> {{ verdict.COMPLETED }} </ion-label>
              </ion-item>

              <ion-item
                (click)="updateStatus(verdict.CANCELED)"
                *ngIf="order.status !== verdict.CANCELED"
              >
                <ion-label color="light"> {{ verdict.CANCELED }} </ion-label>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-item>

    <ion-item>
      <ion-label class="bold-label">
        Details
        <p>{{ order.details }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-content *ngIf="spinner">
  <ion-spinner name="lines" color="primary"></ion-spinner>
</ion-content>
