<ion-header *ngIf="!spinner">
  <ion-toolbar>
    <ion-title> Login </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="!spinner">
  <ion-button
    class="google-button"
    expand="block"
    fill="solid"
    (click)="login()"
  >
    <ion-icon src="../../../assets//google.svg"></ion-icon>
    Sign In with Google
  </ion-button>
</ion-content>

<ion-content *ngIf="spinner">
  <ion-spinner name="lines" color="primary"></ion-spinner>
</ion-content>
