<ion-content class="ion-padding">
  <div class="ion-padding">
    <ion-label position="stacked"> Brand </ion-label>
    <ion-input type="text" [(ngModel)]="brand"></ion-input>
    <ion-button (click)="updateBrand()" expand="block" fill="solid">
      Save
    </ion-button>
  </div>
</ion-content>
