<ion-content class="ion-padding" *ngIf="!spinner">
  <ion-avatar [routerLink]="['/settings']">
    <img src="../../assets/avatar.png" *ngIf="!user.photo" />
    <img [src]="user.photo" />
  </ion-avatar>
  <h1 class="title">{{ brand }}</h1>
  <ion-button
    [routerLink]="['/list-all-orders']"
    expand="block"
    fill="outline"
    shape="round"
  >
    All Orders
  </ion-button>
  <ion-grid fixed="true">
    <ion-row>
      <ion-col>
        <ion-card class="card-1">
          <ion-card-header>
            <ion-icon src="../../assets/sales.svg"></ion-icon>
            <ion-card-title>{{ sales }}k</ion-card-title>
            <ion-card-subtitle>Sales</ion-card-subtitle>
          </ion-card-header>
        </ion-card>

        <ion-card class="card-2">
          <ion-card-header>
            <ion-icon src="../../assets/products.svg"></ion-icon>
            <ion-card-title>{{ products }}k</ion-card-title>
            <ion-card-subtitle>Products</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="card-3" [routerLink]="['/customer']">
          <ion-card-header>
            <ion-icon src="../../assets/customers.svg"> </ion-icon>
            <ion-card-title>{{ customers }}k</ion-card-title>
            <ion-card-subtitle>Customers</ion-card-subtitle>
          </ion-card-header>
        </ion-card>

        <ion-card class="card-4">
          <ion-card-header>
            <ion-icon src="../../assets/revenue.svg"></ion-icon>
            <ion-card-title>₹{{ revenue }}</ion-card-title>
            <ion-card-subtitle>Revenue</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="spinner">
  <ion-spinner name="lines" color="primary"></ion-spinner>
</ion-content>
