ion-avatar {
  width: 2.5em;
  height: 2.5em;
  margin-left: auto;
  --border-radius: 20px;
}

.title {
  margin: 20px;
  width: min-content;
  font-size: 3em;
  font-weight: 700;
}

ion-card {
  box-shadow: none;
  border-radius: 20px;
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
  ion-card-title,
  ion-card-subtitle {
    color: black;
  }
}

ion-icon {
  height: 20px;
  width: 20px;
}

ion-col {
  padding: 0;
}

.card-1 {
  height: 60%;
  margin-bottom: 30px;
  --background: #c0dedd;
}

.card-2 {
  height: 40%;
  --background: #e6dff1;
}

.card-3 {
  height: 40%;
  margin-bottom: 30px;
  --background: #f2eee9;
}

.card-4 {
  height: 60%;
  --background: #f1dfde;
}
