ion-searchbar {
  --box-shadow: none;
  border: 1px solid;
  border-radius: 30px;
  --border-radius: 30px;
  padding: 0;
}

.text-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--ion-border-color);
  width: 100%;
  height: 100%;
  max-width: 46px;
  max-height: 46px;
  border-radius: 500px;
  background-color: var(--ion-color-primary);
}
