<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title> Measurements </ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/customer',customerUuid,'add-measurement']">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="!spinner">
  <ion-list lines="none">
    <ion-item-group>
      <ion-item-divider>
        <ion-label> Top </ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label> Total Length </ion-label>
        <ion-label slot="end"> {{ measurement.top_total_length }} </ion-label>
      </ion-item>

      <ion-item>
        <ion-label> Shoulder </ion-label>
        <ion-label slot="end"> {{ measurement.shoulder }} </ion-label>
      </ion-item>

      <ion-item>
        <ion-label> Chest Circumference </ion-label>
        <ion-label slot="end"> {{ measurement.chest}} </ion-label>
      </ion-item>

      <ion-item>
        <ion-label> Waist Circumference</ion-label>
        <ion-label slot="end"> {{ measurement.waist }} </ion-label>
      </ion-item>

      <ion-item>
        <ion-label> Hip Circumference </ion-label>
        <ion-label slot="end"> {{ measurement.hip }} </ion-label>
      </ion-item>

      <ion-item>
        <ion-label> Hem </ion-label>
        <ion-label slot="end"> {{ measurement.hem }} </ion-label>
      </ion-item>

      <ion-item>
        <ion-label> Sleeve Length </ion-label>
        <ion-label slot="end"> {{ measurement.sleeve_length }} </ion-label>
      </ion-item>

      <ion-item>
        <ion-label> Sleeve Circumference </ion-label>
        <ion-label slot="end"> {{ measurement.sleeve_circ }} </ion-label>
      </ion-item>

      <ion-item>
        <ion-label> Neck Front </ion-label>
        <ion-label slot="end"> {{ measurement.neck_front }} </ion-label>
      </ion-item>

      <ion-item>
        <ion-label> Neck Back </ion-label>
        <ion-label slot="end"> {{ measurement.neck_back}} </ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <ion-list lines="none">
    <ion-item-group>
      <ion-item-divider>
        <ion-label> Bottom </ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label> Total Length </ion-label>
        <ion-label slot="end">
          {{ measurement.bottom_total_length }}
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label> Crotch </ion-label>
        <ion-label slot="end"> {{ measurement.crotch}} </ion-label>
      </ion-item>

      <ion-item>
        <ion-label> Thigh Circumference </ion-label>
        <ion-label slot="end"> {{ measurement.thigh }} </ion-label>
      </ion-item>

      <ion-item>
        <ion-label> Knee Circumference </ion-label>
        <ion-label slot="end"> {{ measurement.knee }} </ion-label>
      </ion-item>

      <ion-item>
        <ion-label> Ankle Circumference </ion-label>
        <ion-label slot="end"> {{ measurement.ankle }} </ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>

<ion-content *ngIf="spinner">
  <ion-spinner name="lines" color="primary"></ion-spinner>
</ion-content>
