<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title> Orders </ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['add']">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="!spinner">
  <ion-list lines="none">
    <ion-item
      *ngFor="let order of orders"
      [routerLink]="[
      '/customer/' + this.customerUuid + '/orders/view/',
      order.uuid,
    ]"
    >
      <ion-label> {{ order.name }} </ion-label>
      <ion-chip color="primary" outline="true">
        <ion-label color="primary"> ₹{{ order.cost }} </ion-label>
      </ion-chip>
    </ion-item>

    <ion-item *ngIf="!orders.length">
      <ion-label> No results </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-content *ngIf="spinner">
  <ion-spinner name="lines" color="primary"></ion-spinner>
</ion-content>
